.DS_Store
*.jav
*.scal
*.tmp
*.temp
*.iml
*.gpg*
*.sh
*-plugin.xml

.idea
.idea_modules
Procfile

target
generated
play2
example
maven.xml
sandbox
_old
modules/core/src/main/java/com/crashnote/core/collect/BaseCollector.java
